.btnNext1 {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  background: rgba(216, 150, 216, 0.2);
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btnNext1:hover {
  background: transparent;
  color: rgba(74, 12, 74, 1.2);
  border-color: rgba(74, 12, 74, 1.2);
}
