@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --blue-color: rgba(194, 225, 230, 1);
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-color: rgba(237, 143, 181, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --icon-color: #c2bcbc;
}

.schedule_entry_empty{
    position: relative;
    align-items: center;
    margin: 0 auto; 
    background-color: blue;
    height: 20rem;
    width: 100%;
    z-index: -1;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fbeff9;
    border-radius: 10px;
    margin: auto;
    min-height: 80dvh;
}

.period {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.period_schedule {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.schedule_table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .schedule_table th,
  .schedule_table td {
    padding: 5px 0px;

  }
  
  .schedule_item {
    display: flex;
    align-items: center;
    margin: 0 1.2rem;
    background-color: var(--blue-color);
    height: 20rem;
    width: 100%;
  }

.schedule_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    width: 23rem;
    justify-content: center;
}

.time {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: -3rem;
    margin-top: 12rem;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    position: relative;
}

.details p{
    font-size: 1.5rem;
}

.details h2{
    font-size: 2rem;
}

.MuiTimelineDot{
    margin: .5rem 0;
}

.MuiTimelineItem{
    min-height: 15rem;
}

.service {
    font-weight: bold;
}

.feedback_button {
    display: inline-block;
    padding: 0.5rem 0;
    background: var(--pink-color);
    border-radius: 60px;
    box-shadow: 0 0.2rem 0.5rem var(--pink-color);
    color: var(--text-color);
    letter-spacing: 0.1rem;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;
}

.feedback_button:hover{
    background: transparent;
    color: var(--text-color);
    border-color: var(--pink-color);
}

.row{
    display:flex;
    padding: 5px 0;
}

.filter{
    width: 10rem;
    font-size: 1.5rem;
}
