@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import '~boxicons/css/boxicons.min.css';

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #c2e1e6;
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-div-color: rgba(251, 226, 228, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --icon-color: #c2bcbc;
}
.week_calendar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .8rem 3rem;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    font-size: 1.5rem;
}

.day:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
    transform: scale(1.05); 
    transition: transform 0.2s ease;
}

.day.active {
    background-color: rgba(194, 225, 230, 0.48);
    color: rgb(4, 49, 250);
    transition: background-color 0.2s ease, color 0.2s ease; 
}

.today {
    text-align: center;
    padding: 10px;
    background-color: var(--pink-div-color);
    font-size: 2rem;
    font-weight: bold;
}
