.cart_container {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 5rem;
  background-color: transparent;
}

.cart_title {
  text-align: left;
  margin-bottom: 10px;
}

.cart_title h2 {
  font-size: 3rem;
  color: #333;
  margin: 0;
  /* font-family: "Arial", sans-serif; */
}

.cart_items {
  margin-bottom: 20px;
}

.cart_items ul {
  /* list-style-type: none; */
  padding: 0;
  margin: 0;
  /* font-family: "Arial", sans-serif; */
  font-size: 2rem;
}

.cart_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
  color: #555;
}

.item_name {
  font-size: 2rem;
  color: #555;
  flex: 1;
}

.total_bill {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  /* font-family: "Arial", sans-serif; */
}

.total_bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.total_amount {
  font-size: 2rem;
  color: #007bff;
}