@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --header-color: #C2E1E6;
    --footer-color: rgba(255, 46, 255, 0.11);
    --pink-div-color: rgba(251, 226, 228, 1);
    --shadow-color: rgba(0,0,0,.2);
    --icon-color: #c2bcbc;
}

html{
    font-size: 62.5%;
    color :var(--text-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    align-items: center;
    z-index: 100;
    transition: .5s;
    justify-content: space-between;
}

.header .header-background-rectangle {
    position: absolute;
    width: 40%;
    height: 110px;
    background-color: var(--header-color);
    z-index: -1;
    border-radius: 0 0 120px 0;
    transition: .5s ease;
    opacity: 80%;
}

.header .navbar-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem 0rem 1.4rem;
}

.header .navbar-header .navbar {
    display: flex;
    align-items: center;

}

.header .navbar-header .navbar a{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    padding-right: 1.5rem;
}

.header .navbar-header #ava-icon {
    font-size: 3.5rem;
    color: #c2bcbc;
}

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 2.7rem 0 9rem;
}

.header .header-title h1{
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 500;
    padding-top: 0.5rem;
}

section{
    /* min-height: 100vh; */
    padding: 10rem 7% 2rem;
}

.sign-in{
    padding-left: 20rem;
}

.sign-in form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    /* margin-bottom: 3rem; */
}

.sign-in .input-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    padding-bottom: 2rem;
}

.sign-in .input-box p{
    font-size: 1.6rem;
    padding: 2.5% 0 0 0;
}

.sign-in form .input-box input{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 20px;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.sign-in form .input-box input{
    width: 49%;
}

.sign-in form a{
    text-decoration: underline;
    color: var(--text-color);    
}

.btn{
    display: inline-block;
    padding: 0.5rem 1.4rem; 
    background: var(--header-color);
    border-radius: 60px; 
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background:transparent;
    color: #0b5864;
    border-color: #0b5864;
}

.sign-in form .solve{
    margin-top: -12px;
    padding-left: 67%;
}

.sign-out .sign-out-content{
    padding: 2% 0 0 5%;
}
.sign-out p{
    font-size: 1.5rem;
}

.sign-out .btn{
    margin-left: 16rem;
}

.sign-out .signout-background-rectangle {
    position: absolute;
    width: 40%;
    height: 110px;
    background-color: var(--pink-div-color);
    z-index: -1;
    border-radius: 0 120px 0 0;
    transition: .5s ease;
    opacity: 70%;
}
.footer{
    margin: 1.6rem 0 0 0;
    display: flex;
    justify-content: space-around;
}

.footer h1{
    padding-top: 3.5rem;
    font-weight: 800;
    font-size: 4rem;
    cursor: default;
}

.footer .footer-content{
    font-size: 1.2rem;
    gap: 1rem;
    margin-top: 2.3rem;
}

.footer .footer-background-rectangle{
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: var(--footer-color);
    z-index: -1;
    transition: .5s ease;
    min-width: auto;
}