/* .boxInfo {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.backGround {
  padding: 8rem;
}
.boxInfo .timeInfo {
  margin-top: auto;
  width: 400px;
  height: 300px;
  background: #efefef;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.boxInfo .timeInfo h2 {
  margin-bottom: 10rem;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.time-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #000;
}

.blue {
  background-color: #dbe9ff;
}

.red {
  background-color: #ff9fb2;
}

.green {
  background-color: #c8f7c5;
} */
.flexRow {
  display: flex;
  /* flex-wrap: nowrap; */
}

.backGround {
  padding: 8rem;
}

.boxInfo {
  padding-top: 6rem;
  display: flex;
  /* flex-wrap: nowrap; */
  gap: 1.2rem;
}

.timeInfo {
  margin-top: auto;
  width: 400px;
  height: 300px;
  background: #ededed;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.timeInfo h2 {
  margin-bottom: 10rem;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  /* margin: auto; */
  margin-left: 7rem;
  width: 350px;
  height: 350px;
}

.introduction {
  margin-bottom: 1.8rem;
  font-size: 1.5em;
  color: #333;
}
.scheduleContainer h3 {
  margin-top: 1.8rem;
}
.schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.timeSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #000;
  margin: 0.5rem;
  padding: 1.3rem;
}

.blue {
  background-color: #dbe9ff;
}

.red {
  background-color: #ff9fb2;
}

.green {
  background-color: #c8f7c5;
}
.isSelecting {
  background-color: #c8f7c5; /* Màu nền của ô là màu vàng */
  color: black; /* Màu chữ của ô là đen */
}
.nextStepButton {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #d1945a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  width: calc(100% - 20px); /* Đảm bảo nút dài hơn */
  margin: 0 auto; /* Canh giữa */
  display: block;
}

.nextStepButton:hover {
  background-color: #b77b46;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.cart {
  margin-top: 10px;
}
