@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainContent {
  flex: 1;
}
.PetInfo_container {
  margin: 7rem 5rem 3rem 5rem;
}

.PetInfo_container h1 {
  font-size: 4rem;
  text-align: center;
}

.PetInfo_container .PetInfo_box {
  margin: 2rem 20rem;
  padding: 2rem 8rem;
  box-shadow: 0 2px 2px 2px var(--shadow-color);
  border-radius: 30px;
}

.PetInfo_box p {
  font-size: 2em;
  padding-bottom: 2px;
}

.PetInfo_box p:first-of-type {
  margin-left: -2rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  background: var(--header-color);
  border-radius: 60px;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: #0b5864;
  border-color: #0b5864;
}

.add {
  display: flex;
  justify-content: center;
}
