.stepperContainer {
    margin-top: 2rem; 
  }
  
  .stepLabel {
    font-size: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stepIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MuiSvgIcon-root {
    font-size: 3rem !important;
  }