@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
} */

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #c2e1e6;
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-div-color: rgba(251, 226, 228, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --icon-color: #c2bcbc;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
}
.gg-profile,
.gg-profile::after,
.gg-profile::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100px;
}

.gg-profile {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  position: relative;
}

.gg-profile::after,
.gg-profile::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 8px;
}

.gg-profile::after {
  border-radius: 200px;
  top: 11px;
  left: 0px;
  width: 18px;
  height: 18px;
}
/* body {
  background: var(--bg-color);
  color: var(--text-color);
} */

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  justify-content: space-between;
}

.header .header-blue-background-rectangle {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--header-color);
  z-index: -1;
  border-radius: 0 0 120px 0;
  transition: 0.5s ease;
}

.header .header-pink-background-rectangle {
  position: absolute;
  width: 45rem;
  height: 40px;
  background-color: var(--pink-div-color);
  z-index: -1;
  border-radius: 0 0 120px 0;
  transition: 0.5s ease;
}

.header .navbar-header {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2.5rem 0rem 1.4rem;
}

.header .navbar-header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar-header .navbar a {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
  padding-right: 1.5rem;
}

.header .navbar-header p {
  margin-top: 0.6rem;
} */

.service_div {
  margin: 5rem 7% 2rem;
}

.service_div .service_img1 {
  position: absolute;
  width: 30rem;
  height: 28rem;
  background-color: var(--header-color);
  z-index: -1;
  border-radius: 20px;
  transition: 0.5s ease;
  flex: 1;
}

.service_div .service_img1 img {
  position: relative;
  width: 26rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.service_display {
  display: flex;
  margin-right: 56rem;
  margin-bottom: 2rem;
}

.service_price {
  background: var(--pink-div-color);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 15.03px;
  border-top-right-radius: 67.63px;
  border-bottom-right-radius: 67.63px;
  border-bottom-left-radius: 15.03px;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  width: 20rem;
  height: 8rem;
  position: relative;
  margin-top: 20rem;
  margin-left: 30rem;
  padding-top: 3rem;
}

.service_div h1 {
  font-size: 3.6rem;
}

.service_div p {
  font-size: 1.6rem;
  font-weight: 1.6rem;
  margin-top: 0.6rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  background: var(--header-color);
  border-radius: 60px;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
  margin-top: 1.5rem;
}

.btn:hover {
  background: transparent;
  color: #0b5864;
  border-color: #0b5864;
}

.service_div .book {
  display: flex;
  justify-content: right;
  margin-right: 4rem;
}

.feedback_div h1 {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

/* .feedback_div .feedback_display {
  display: flex;
  margin: 5rem;
} */

.feedback_div .feedback_display {
  display: flex;
  justify-content: space-between;
  margin: 6rem 5rem 0 5rem;
  text-align: center;
}

/* .feedback_display .ava_img {
  position: absolute;
  width: 23rem;
  height: 25rem;
  background-color: var(--header-color);
  z-index: -1;
  border-radius: 10px;
  transition: 0.5s ease;
  flex: 1;
} */

.feedback_display .service_container i {
  color: hotpink;
  z-index: 1;
}

.quote{
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}

.feedback_display .service_container {
  position: block;
  margin: 0 8rem;
  background-color: var(--header-color);
  z-index: -1;
  border-radius: 10px;
  transition: 0.5s ease;
  flex: 1;
}

.feedback_display .service_container .ava_img img {
  position: relative;
  width: 5rem;
  border-radius: 50%;
  margin-top: -2rem;
}

.feedback_display .service_container p {
  /* position: block; */
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  justify-content: center;
}

.feedback_div {
  /* position: absolute; */
  margin: 5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
  height: 40rem;
}

.service_container:hover .feedback_div {
  display: block;
}

.footer {
  margin: 1.8rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.footer h1 {
  padding-top: 2.5rem;
  font-weight: 800;
  font-size: 4rem;
  cursor: default;
}

.footer .footer-content {
  font-size: 1.2rem;
  gap: 1rem;
  margin-top: 1.5rem;
}

.footer .footer-background-rectangle {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--footer-color);
  z-index: -1;
  transition: 0.5s ease;
  min-width: 35px;
  opacity: 80%;
}
