:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #c2e1e6;
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-div-color: rgba(251, 226, 228, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --icon-color: #c2bcbc;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  background: rgb(249, 207, 211);
  border-radius: 60px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.3rem solid transparent;
  transition: 0.5s ease;
  margin-top: 1.5rem;
}

.btn:hover {
  background: transparent;
  color: #0b5864;
  border-color: #0b5864;
}
.book {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
