.btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  background: var(--header-color);
  border-radius: 60px;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
  margin-top: 1.5rem;
}

.btn:hover {
  background: transparent;
  color: #0b5864;
  border-color: #0b5864;
}
