.custom-calendar {
  width: 500px; /* Độ rộng của cuốn lịch */
  min-height: 600px; /* Độ cao của cuốn lịch */
  font-size: 2rem; /* Kích thước chữ cho toàn bộ cuốn lịch */
  margin-top: 0;
  font-family: "Poppins, sans-serif";
}

.custom-calendar .MuiTypography-root {
  font-size: 2rem; /* Kích thước chữ chung */
}

.custom-calendar .MuiPickersCalendarHeader-label {
  font-size: 2rem; /* Kích thước chữ cho nhãn tháng */
}
.custom-calendar .MuiDayPicker-weekDayLabel {
  font-size: 2rem; /* Kích thước chữ cho nhãn ngày trong tuần */
  padding: 10px; /* Khoảng cách giữa các nhãn ngày trong tuần */
  text-align: center; /* Căn giữa văn bản */
  font-family: "Poppins, sans-serif";
}
.custom-calendar .MuiDayPicker-weekDayLabel {
  font-size: 2rem; /* Kích thước chữ cho nhãn ngày trong tuần */
  padding: 0 20px; /* Khoảng cách giữa các nhãn ngày trong tuần */
  margin: 0px 10px;
}

.custom-calendar .MuiDayCalendar-header span {
  margin: 0 1.2rem;
}

.customer-calendar .MuiDayCalendar-weekDayLabel {
  margin: 0px 10px;
}
.customer-calendar .MuiTypography-root .MuiDayCalendar-weekDayLabel {
  margin: 0px 10px;
}
.custom-calendar .MuiPickersDay-root {
  width: 50px; /* Kích thước của các ô ngày */
  height: 50px; /* Kích thước của các ô ngày */
  font-size: 2rem; /* Kích thước chữ cho các ngày */
  margin: 5px; /* Khoảng cách giữa các ô ngày */
}
.custom-calendar
  .MuiTypography-root
  .MuiTypography-caption
  .MuiDayCalendar-weekDayLabel {
  padding: 10px;
}

.custom-calendar .MuiPickersCalendarHeader-root {
  font-size: 2rem; /* Kích thước chữ cho tiêu đề cuốn lịch */
  margin-top: -0.5rem;
}
