@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #c2e1e6;
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-div-color: rgba(251, 226, 228, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --icon-color: #c2bcbc;
}

.Ask {
  text-align: center;
  margin: 8rem 0 3rem 0;
}

.Ask h1 {
  font-size: 4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainContent {
  flex: 1;
}

.service {
  display: flex;
  justify-content: space-around;
}

.service_btn {
  margin-bottom: 20px;
}

.service_checklist .service_container label {
  cursor: pointer;
}

.service .service_checklist {
  background-color: var(--pink-div-color);
  width: 40%;
  padding: 6rem;
  border-radius: 10px;
}

.custom_checkbox {
  display: none;
}

.service_checklist .service_container {
  margin-bottom: 20px;
}

.custom_checkbox + .custom_label .tickbox {
  width: 30px;
  height: 30px;
  background: var(--bg-color);
  border: 2px solid var(--icon-color);
  border-radius: 5px;
  position: relative;
  transition: background 0.3s, border-color 0.3s;
}

.custom_checkbox:checked + .custom_label .tickbox {
  background: #2d93a3;
  border-color: #9bdfea;
}

.custom_checkbox:checked + .custom_label .tickbox::after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: 3px;
}

.custom_label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.service_display {
  display: flex;
  justify-content: center;
}

.service_display .service_img {
  position: relative;
  width: 28rem;
  height: 28rem;
  background-color: var(--header-color);
  z-index: 1;
  border-radius: 20px;
  transition: 0.5s ease;
  flex: 1;
}

.service_price {
  background: var(--pink-div-color);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 15.03px;
  border-top-right-radius: 67.63px;
  border-bottom-right-radius: 67.63px;
  border-bottom-left-radius: 15.03px;
  padding: 24px;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  width: 20rem;
  height: 8rem;
  position: relative;
  margin-top: 20rem;
  z-index: -1;
  margin-left: -5rem;
}

.service_display .service_img img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  background: var(--header-color);
  border-radius: 60px;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: #0b5864;
  border-color: #0b5864;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
