@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #c2e1e6;
  --footer-color: rgba(255, 46, 255, 0.11);
  --pink-div-color: rgba(251, 226, 228, 1);
  --shadow-color: rgba(173, 168, 168, 0.329);
  --icon-color: #c2bcbc;
}

p {
  font-size: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.mainContent {
  flex: 1;
  background-image: url('../../assets/img/cutebg.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.Feedback_container {
  display: flex;
  margin: 4rem 5rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--bg-color);
  height: 90dvh;
}

.Pet_infor {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: relative; /* Ensure .arrow is positioned relative to this */
}

.Pet_infor .arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure this is higher than .Service_img img */
}

.Pet_infor .arrow img {
  z-index: 1;
  width: 5rem;
}

.Pet_infor .Service_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  position: relative; /* Ensure the image is positioned relative for proper layering */
}

.Pet_infor .Service_img img {
  border-radius: 20px;
  max-width: 70%; 
  height: auto; 
  z-index: 0;
}

.Pet_infor .pet_name {
  position: absolute;
  background-color: var(--header-color);
  border-radius: 40px;
  padding: 0 3rem;
  bottom:3rem;
}

.Feedback_content {
  flex: 5;
  margin-top: 3rem;
}

.Customer_info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.display h1 {
  background-color: var(--pink-div-color);
}

.ava_img img {
  width: 4rem;
  border-radius: 50%;
}

.Customer_feedback {
  background-color: var(--shadow-color);
  padding: 3rem;
}
